<ion-header>
  <ion-toolbar>
    <ion-title>
      Объявления и резюме
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="publishPost()">publishPost</ion-button>
  <ng-template [ngIf]="query['group_id']">
    <ng-template [ngIf]="hasFields === false">
      <ion-card *ngIf="query['viewer_type'] && query['viewer_type'] == 4">
        <ion-card-header>
          <ion-card-title>
            Создать шаблон
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-field-admin
            *ngFor="let field of fields"
            [type]="field.type"
            [label]="field.label"
            [required]="field.required"
            [id]="field.id"
          ></app-field-admin>
          <ion-button (click)="addField()">Добавить поле</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template [ngIf]="hasFields === true">
      <ion-card  *ngIf="query['viewer_type'] && query['viewer_type'] == 4">
        <ng-template [ngIf]="fields">
        </ng-template>
        <ion-card-header>
          <ion-card-title padding-horizontal>
            Редактировать шаблон
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-field-admin
            *ngFor="let field of fields"
            [type]="field.type"
            [label]="field.label"
            [required]="field.required"
            [id]="field.id"
          ></app-field-admin>
          <ion-button size="small" padding (click)="addField()"
            >Добавить поле</ion-button
          >
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ion-card *ngIf="hasFields && query['viewer_type'] !=4">
        <ion-card-header>
          <ion-card-title>
            Опубликовать
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-field
            *ngFor="let field of fields"
            [type]="field.type"
            [label]="field.label"
            [required]="field.required"
          ></app-field>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="!hasFields && query['viewer_type'] !=4">
          <ion-card-header>
            <ion-card-title padding>
              Надо подождать
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p padding>Скоро администратор добавит здесь поля и можно будет публиковать красивые объявления в группе</p>
          </ion-card-content>
        </ion-card>
  </ng-template>

  <ng-template [ngIf]="!query['group_id']">
    <!-- лендинг -->
  </ng-template>
</ion-content>
